@using DataAccess.Data.Entities;
@model List<Product>;

<h1>Product Manage Panel</h1>
<p>You can manage the available products here...</p>

<a asp-action="Create" class="btn btn-primary my-2">Create New Product</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Status</th>
            <th scope="col">Discount</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr class="align-middle">
                <th scope="row">@i.Id</th>
                <td>@i.Name</td>
                <td>@i.Price$</td>
                <td>@i.CategoryId</td>
                <td>
                    @if(i.InStock)
                    {
                        <span class="badge bg-success">In Stock</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Out of Stock</span>
                    }
                </td>
                <td>@(i.Discount ?? 0)%</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-action="Details" asp-route-id="@i.Id" class="btn btn-secondary">Show</a>
                        <a asp-action="Edit" asp-route-id="@i.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@i.Id" class="btn btn-danger">Delete</a>
                    </div>
                   
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="text-center">Count: @Model.Count</p>